.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.list {
  flex-grow: 1;
  height: 0;
  overflow: auto;
  width: 310px;
}

.totalPurchases {
  margin-top: var(--mantine-spacing-sm);
}
