.root {
  background-color: var(--mantine-color-dark-6);
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-md);
  padding: 0 var(--mantine-spacing-sm) 0 var(--mantine-spacing-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--mantine-spacing-xs);
  height: 50px;
  overflow: hidden;
  margin-bottom: 4px;
}

:global(.compact-view) .root {
  border-radius: 0;
  box-shadow: none;
  height: 41px;
}

.even {
  background-color: color-mix(in srgb, var(--mantine-color-dark-6) 50%, var(--mantine-color-dark-5) 50%);
}

.index {
  font-size: 1.1em;
  width: 20px;
}

:global(.custom-background) .root {
  background-color: var(--mantine-color-darkTransparent-7);
  box-shadow: none;
}

:global(.custom-background) .even {
  background-color: var(--mantine-color-darkTransparent-6);
}
