.input {
  padding: 0 var(--mantine-spacing-xs);
  font-size: var(--mantine-font-size-xl);
}

.input:hover,
.input:focus {
  background-color: var(--mantine-color-dark-4);
}

.input:focus {
  border: 1px solid var(--mantine-primary-color-filled);
}

.name {
  flex-grow: 1;
  margin-right: var(--mantine-spacing-md);
}

.money {
  width: 120px;
}

.extra {
  margin-right: var(--mantine-spacing-xs);
}

:global(.compact-view) .input {
  height: 41px;
  min-height: 41px;
  font-size: var(--mantine-font-size-lg);
}

:global(.custom-background) :global(.slot-chance) {
  color: var(--mantine-color-white);
}

:global(.custom-background) .input:hover,
:global(.custom-background) .input:focus {
  background-color: var(--mantine-color-darkTransparent-8);
}
