@import "../../../styles/colors";

.settings-group {
  $animation-duration: 0.3s;

  border: 1px solid $grey-4;
  border-radius: 12px;
  padding: 32px 24px 16px;
  position: relative;
  transition: padding-bottom $animation-duration, padding-top $animation-duration;

  .group-title {
    position: absolute;
    top: 0;
    left: 16px;
    padding: 0 12px;
    transform: translateY(-50%);
    background-color: #242424;

    .MuiFormControlLabel-label {
      min-width: unset !important;
      height: auto;
    }
  }

  &.close {
    padding-top: 0;
    padding-bottom: 0;

    @keyframes border {
      0% {
        border-bottom: 1px solid $grey-4;
      }

      100% {
        border-bottom: 1px solid $grey-4;
      }
    }

    animation: border $animation-duration;
    border-bottom: 0;
  }

  .content {
    overflow: hidden;
    transition: max-height $animation-duration;
  }
}
