.input.sm {
  width: 80px;
}

.label {
  padding-right: var(--mantine-spacing-md);
}

.root.labelLeft {
  display: flex;
  align-items: center;
}

.root.labelLeft .label {
  padding-right: var(--mantine-spacing-md);
}
