@import "src/styles/colors";

.changelog {
  a {
    color: var(--color-primary);
  }

  &-features {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;

    &>li {
      display: block;
      background: #2f4f4f55;
      padding: 10px;
      border-radius: 4px;
      border-left: 5px solid #1b2f2f;
      padding-left: 24px;
    }
  }

  &-date {
    position: relative;

    &-text {
      padding: 0 8px;
    }

    &-divider.MuiDivider-root {
      flex-grow: 1;
      height: 2px;
    }

  }

  .feature-title {
    padding: 4px 8px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 0.9em;

    &.success {
      background-color: #84a656;
    }

    &.info {
      background-color: #5b95c4;
    }

    &.error {
      background-color: #ff654b;
    }
  }
}
