@import "../../../styles/colors";

.login-button {
  height: 40px;
}

.fast-access {
  width: 100%;
  margin-bottom: 10px !important;

  .MuiAccordionSummary-root.Mui-expanded {
    border-bottom: 1px $grey-10 solid;
    min-height: 0 !important;

    .MuiAccordionSummary-content {
      margin: 12px 0 !important;
    }
  }

  .base-icon {
    width: 22px;
    height: 22px;
    margin-right: 5px;
  }

  .content {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    gap: 8px;

    .available-integrations {
      gap: 4px;
      display: flex;
      flex-direction: row;

      .integration-switch {
          width: auto;
      }
    }

    .row {
      margin-bottom: 0;
      display: flex;
      align-items: center;
    }
  }
}

.integration-switch {
  width: 100%;
  justify-content: space-between;
  display: flex;

  &.compose {
    width: 100%;
    justify-content: space-between;
    display: flex;
  }
}
