.switchLabelWrapper {
  flex-grow: 1;
}

.switchBody {
  width: 100%;
}

.switchRoot:not([data-checked]) {
  .switchTrack {
    background-color: var(--mantine-color-dark-6);
  }
}

.accordion {
  width: 100%;
  margin-bottom: 10px;
}
