.list {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
  text-align: center;
  min-height: 200px;
}

.emptyIcon {
  color: var(--mantine-color-gray-4);
  margin-bottom: 1rem;
}
