@import "../../styles/colors";

.slots-column {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  height: 90%;
  margin-right: 500px;
  margin-top: 30px;
  overflow-y: auto;

  .add-button {
    width: 20%;
    border-radius: 10px;
    border: 2px solid transparent;

    &.drop-help {
      background-color: $grey-9;
      border-color: $grey-7;
    }

    &.drag-over {
      background-color: $blue-gray-3;
      border-color: $blue-gray-2;
    }
  }
}