@import "../../styles/colors";

@mixin pulse-animation($color) {
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba($color, 0.5);
      box-shadow: 0 0 0 0 rgba($color, 0.5);
    }
    70% {
      -moz-box-shadow: 0 0 0 10px rgba($color, 0);
      box-shadow: 0 0 0 10px rgba($color, 0);
    }
    100% {
      -moz-box-shadow: 0 0 0 0 rgba($color, 0);
      box-shadow: 0 0 0 0 rgba($color, 0);
    }
  }

  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.server-status {
  display: flex;
  align-items: center;
  color: white;
  border: 2px solid $blue-gray-2;
  height: 36px;
  border-radius: 22px;
  background-color: rgba($blue-gray-5, .3);
  padding: 0 15px;

  &-label {
    font-weight: 400;
    font-size: 16px;
    color: $grey-1;
    white-space: nowrap;
    margin-right: 10px;
  }

  &-thumb {
    width: 12px;
    height: 12px;
    background-color: $green-1;
    border: 1px solid white;
    border-radius: 50%;
    @include pulse-animation($green-1);

    &.unavalable {
      background-color: $grey-6;
      animation: none;
    }
  }

  .active-integration {
    display: flex;
    margin-left: 10px;
    font-size: 20px;
    align-items: center;

    &:before {
      content: "(";
      margin-right: 2px;
    }

    &:after {
      content: ")";
      margin-left: 2px;
    }

    .base-icon {
      height: 21px;
      width: 21px;

      &.twitch, path, rect {
        fill: $twitch;
      }

      &.da path {
        fill: $da;
      }
    }
  }
}
