.auc-settings {
  &-label {
    width: 280px;
  }

  &-reward-prefix {
    width: 95px;
    margin-left: 15px !important;
    margin-right: 10px !important;
  }

  .MuiFormControlLabel-label {
    width: 290px;
  }

  .MuiTypography-body1 {
    font-size: 14px;
  }

  .MuiButton-sizeSmall {
    font-size: 0.75em;
    height: 30px;
  }

  &-list {
    margin-bottom: 15px;
    margin-left: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &-option {
    margin-left: 15px;

    .MuiSelect-selectMenu {
      display: flex;
    }

    p {
      margin-right: 5px;
    }
  }

  &-row {
    align-items: center;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &-start-time {
    margin-left: 15px !important;
    margin-right: 5px !important;
    width: 50px;
  }

  .MuiInputBase-input {
    padding: 7px 10px;
  }

  .MuiFormControlLabel-labelPlacementStart {
    margin-left: 0 !important;
  }
}

.mock-data-button {
  width: 140px;
  margin-left: 15px !important;
}
