.auc-settings {
  &-list {
    margin-bottom: 15px;
    margin-left: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &-row {
    align-items: center;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &-start-time {
    margin-left: 15px !important;
    margin-right: 15px !important;
    width: 50px;

    .MuiInputBase-input {
      padding: 8px 10px;
    }
  }

  .MuiFormControlLabel-labelPlacementStart {
    margin-left: 0 !important;
  }
}

.mock-data-button {
  width: 150px;
  height: 35px;
  margin-left: 15px !important;
}
