@import '../../../styles/colors.scss';

.aukus-backdrop {
  .winner-input {
    font-size: 3rem;
    text-align: center;
    min-width: 560px;
    max-width: calc(var(--vw, 1vw) * 100 - 50px);
  }

  .winner-label {
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3.75rem;
    color: $grey-2;
  }
}
