.grid {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  gap: 32px;
  align-items: stretch;
}

.rules {
  flex-shrink: 1;
  flex-basis: 400px;
}

.lots {
  flex: 1;
  min-height: 0;
  display: flex;
}

.timer {
  /* flex: 1; */
}
