[data-integration='donatePay'] {
  background-color: #44ab4f !important;
  color: #f1f1f1 !important;

  &:hover {
    background-color: #3e8648 !important;
  }
}

.integration-switch {
  &.donatePay {
    .base-icon {
      width: 30px;
      height: 30px;

      path {
        fill: #8ddc96;
      }
    }
  }
}

.base-icon.donatePay {
  width: 30px;
  height: 30px;

  path {
    fill: #f1f1f1;
  }
}
