[data-integration='donatePay'] {
  background-color: #44ab4f !important;
  color: #f1f1f1 !important;
}

[data-integration='donatePay']:hover {
  background-color: #3e8648 !important;
}

.donatePay-icon path {
  fill: #8ddc96;
}

.base-icon.donatePay path {
  fill: #f1f1f1;
}
