:global([data-integration='tourniquet']) {
  background-color: #b2af47 !important;
  color: #F1F1F1 !important;
}

:global([data-integration='tourniquet']:hover) {
  background-color: #9f9847 !important;
}

