:global(.twitch-icon path),
:global(.twitch-icon rect) {
  fill: #a16bff;
}

:global([data-integration='twitch']) {
  background-color: #7c43d0 !important;
  color: #f1f1f1 !important;
}

:global([data-integration='twitch']:hover) {
  background-color: #6c38b8 !important;
}
