:global(.integration-switch.twitch .base-icon path) {
  fill: #a16bff;
}

:global([data-integration='twitch']) {
  background-color: #7c43d0 !important;
  color: #F1F1F1 !important;
}

:global([data-integration='twitch']:hover) {
  background-color: #6c38b8 !important;
}

