@import '../../../styles/colors';

.stopwatch-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: sticky;
  top: 0;

  @media (min-width: 48em) {
    position: relative;
  }

  .timer-primary {
    order: -2;
    font-size: 40px;
    // width: 160px;
    line-height: 60px;
    position: relative;
    transition:
      font-size 0.2s,
      width 0.2s;

    @media (min-width: 48em) {
      font-size: 80px;
      line-height: 80px;
      width: 320px;
    }

    &:after {
      content: '';
      position: absolute;
      top: -5px;
      left: -5px;
      width: calc(100% + 10px);
      height: calc(100% + 10px);
      z-index: -1;

      background-color: var(--mantine-color-darkTransparent-8);
      border-radius: var(--mantine-radius-md);
    }
  }

  .timer-secondary {
    order: -1;
    position: relative;
    font-size: 22px;
    top: -6px;
    height: 12px;
    letter-spacing: 2px;
  }

  .total-time {
    //color: var(--color-primary);
  }

  .stopwatch-controls {
    display: flex;
    justify-content: space-around;

    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.2s ease,
      visibility 0.2s ease;
  }

  .swap-timers {
    position: absolute;
    right: -10px;
    top: 52px;

    &:after,
    &:before {
      content: '';
      position: absolute;
      left: 0;
      width: 50%;
      border-right: 1px solid $grey-7;
    }

    &:after {
      height: 12px;
      bottom: 0;
      transform: translateY(100%);
      border-bottom: 1px solid $grey-7;
    }

    &:before {
      height: 20px;
      top: 0;
      transform: translateY(-100%);
      border-top: 1px solid $grey-7;
    }

    &-button {
      border: 1px solid $grey-7;
      padding: 1px;
    }
  }

  &.stopwatch-wrapper-compact {
    .timer-primary {
      font-size: 60px;
      // width: 320px;

      @media (min-width: 48em) {
        font-size: 80px;
        width: 320px;
      }
    }

    .timer-secondary {
      font-size: 22px;
    }

    .stopwatch-controls {
      opacity: 1;
      visibility: visible;
    }
  }
}
