$grey-1: #fafafa;
$grey-2: #DCDCDC;
$grey-3: #D3D3D3;
$grey-4: #C0C0C0;
$grey-5: #A9A9A9;
$grey-6: #808080;
$grey-7: #696969;
$grey-8: #494949;
$grey-9: #353535;

$yellow: #ffeb3b;

$blue-gray-1: #b0bec5;
$blue-gray-2: #78909c;
$blue-gray-3: #455a64;
$blue-gray-4: #263238;