body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: transparent;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 19px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-track:hover {
  background: var(--mantine-color-dark-8);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff80;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: padding-box;
}

#portal-root {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
}
