.emoteButton {
  background-color: var(--mantine-color-gray-10);
  border: none;
}

.emoteButton:hover {
  background-color: var(--mantine-color-gray-9);
}

.container {
  overflow: auto;
  border: 2px solid var(--mantine-color-gray-8);
  align-self: stretch;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--mantine-spacing-sm);
}
