.auc-container {
  display: flex;
  flex-direction: column;
  padding: 1.5em 2em 0.5em 2em;
  width: 100%;
  overflow: hidden;

  &.centralize {
    align-items: center;
    justify-content: center;
  }

  &-row {
    flex-grow: 1;
    display: flex;
    height: 100%;
    min-height: 0;
    min-width: 0;
    gap: 0.5em;
  }

  &-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0;
    min-width: 0;
    gap: 0.5em;
    z-index: 1;
  }

  &-left-column {
    @media (min-width: 1800px) {
      min-width: 350px;
    }
  }
}
