.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.leftColumn {
  flex-shrink: 0;
}

.container {
  display: flex;
  flex-direction: column;
  padding: var(--mantine-spacing-md);
  width: 100%;
}

@media (min-width: 48em) {
  .container {
    padding: 1.5em 2em 0.5em 2em;
    overflow: hidden;
  }
}

.centralize {
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: var(--mantine-spacing-sm);
}

@media (min-width: 48em) {
  .row {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
    min-height: 0;
    min-width: 0;
    gap: var(--mantine-spacing-md);
  }
}

.column {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
  gap: 0.5em;
  z-index: 1;
}

@media (min-width: 1800px) {
  .leftColumn {
    min-width: 350px;
  }
}
