.auc-container {
  display: flex;
  flex-direction: column;
  padding: var(--mantine-spacing-md);
  width: 100%;
  // overflow: auto;

  @media (min-width: 48em) {
    padding: 1.5em 2em 0.5em 2em;
    overflow: hidden;
  }

  &.centralize {
    align-items: center;
    justify-content: center;
  }

  &-row {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 0.5em;

    @media (min-width: 48em) {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      height: 100%;
      min-height: 0;
      min-width: 0;
    }
  }

  &-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0;
    min-width: 0;
    gap: 0.5em;
    z-index: 1;
  }

  &-left-column {
    @media (min-width: 1800px) {
      min-width: 350px;
    }
  }
}
