.root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  min-height: 0;

  @media (min-width: 48em) {
    flex: 1 1 0;
  }
}

.column {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
