@import '../../../styles/colors';

.slots {
  .slot-grid-wrapper {
    width: 100%;
  }

  &-width-wrapper {
    flex-wrap: nowrap !important;
    align-self: flex-start;
    width: 10%;
    justify-content: center;
    margin-right: 2%;
  }

  &-column {
    &-list {
      &.optimize,
      &.compact-view {
        flex-direction: row;
        flex: 1 1 auto;
      }
    }

    &-buyout {
      display: flex;
      align-self: flex-start;
      margin-bottom: 20px;

      &.hidden {
        display: none;
      }

      &-title {
        margin-right: 35px !important;
        margin-left: 10px !important;
        margin-bottom: 0 !important;
      }

      &-input {
        width: 100px;
        font-size: 1.5em !important;
      }
    }

    .add-button {
      width: 20%;
      border-radius: 10px;
      border: 2px solid transparent;
      align-self: center;
      transition: 0s;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    position: relative;

    .total-sum {
      font-size: 16px;
      color: $grey-2;
    }
  }
}
