@import "../../styles/colors";

.wheel-controls {
  position: absolute;
  left: 65%;
  color: $grey-2;

  &-button {
    height: 40px;
  }

  &-row {
    display: flex;
    align-items: center;
  }

  &-input {
    margin-left: 15px !important;
    margin-right: 5px !important;
    width: 110px;
  }

  &-tip {
    position: relative;
    font-size: 1.1rem !important;
    top: 8px;

    &.md {
      width: 210px;
      font-size: 16px;
      align-self: start;
      margin-bottom: 10px;
    }

    &.lg {
      width: 330px;
      font-size: 16px;
      align-self: start;
      margin-bottom: 10px;
    }

    &.low {
      font-size: 16px;
      display: block;
    }
  }

  .MuiSlider-valueLabel {
    font-weight: 400;
  }

  &-checkbox {
    .MuiFormControlLabel-label {
      margin-top: 3px;
      font-weight: 400;
      font-size: 1rem;
      letter-spacing: normal;
    }
  }
}
