.wheel-controls {
  position: absolute;
  left: 65%;

  &-button {
    height: 40px;
  }

  &-row {
    display: flex;
    align-items: center;
  }

  &-input {
    margin-left: 15px !important;
    margin-right: 5px !important;
    width: 110px;
  }

  &-tip {
    position: relative;
    font-size: 18px !important;
    top: 8px;

    &.md {
      width: 210px;
      font-size: 16px;
      color: #ccc;
      align-self: start;
      margin-bottom: 10px;
    }

    &.low {
      font-size: 14px ;
      display: block;
      color: #aaa;
    }
  }

  .MuiSlider-valueLabel {
    font-weight: 400;
  }
}
