.control-column {
  width: 350px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;

  @media (min-width: 48em) {
    position: relative;
  }
}
