.rules-container-settings {
  display: flex;
  flex-grow: 1;
  justify-content: end;

  &-popover {
    padding: 8px;
  }
}

.rules-container-settings__popover {
  .MuiPopover-paper {
    max-width: unset;
  }
}