.editor-font-size {
  display: flex;
  align-items: center;
  gap: 4px;

  .MuiButtonBase-root {
    padding: 4px;
  }

  .MuiOutlinedInput-root {
    font-size: 0.8rem;

    input {
      width: 16px;
      padding: 8px;
    }
  }
}