.login-button.donatepay {
  background-color: #44ab4f !important;
  color: #f1f1f1 !important;

  &:hover {
    background-color: #3e8648 !important;
  }

  &:disabled {
    background-color: #746d67 !important;

    .da path {
      fill: #c4bbb4;
    }
  }
}
