@import "../../../styles/colors";

.login-button {
  &.da {
    .base-icon path {
      fill: $da;
    }
  }
}

.integration-switch {
  &.da {
    .base-icon path {
      fill: $da;
    }
  }

  .base-icon.da path {
    fill: $da;
  }
}
