@import "../../../styles/colors";

.integration-switch {
  &.da {
    .base-icon path {
      fill: $da;
    }
  }
}

.base-icon.da path {
  fill: $da;
}

[data-integration='da'] {
  background-color: #F57D07 !important;
  color: #F1F1F1 !important;

  &:hover {
    background-color: #cb6a0a !important;
  }

  &:disabled {
    background-color: #746d67 !important;
  }
}

