.icon {
  width: 30px;
  height: 30px;
}

:global([data-integration='donatex']) {
  background-color: #0d0114 !important;
  color: #f1f1f1 !important;
}

:global([data-integration='donatex']:hover) {
  background-color: #000000 !important;
}
