.settingsPresetFields {
  display: flex;
  gap: 12px;

  @media (min-width: 48em) {
    height: 100%;
  }
}

.settingsPresetName {
  @media (min-width: 48em) {
    width: 350px;
  }
}

.settingsPresetDropdown {
  position: relative;
  left: -1px;
  height: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.menuItem {
  padding: 0;
}

.menuItemSection {
  color: var(--mantine-color-dark-3);
}

.presetButton {
  flex-shrink: 0;
}
