.container {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
  border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  border-radius: var(--mantine-radius-sm);
  padding: 4px 8px;
  box-shadow: var(--mantine-shadow-md);
}
