.trigger {
  display: flex;
  align-items: center;
  padding: 0 8px;
  width: auto;
  height: var(--rich-text-editor-control-height);
}

.sizeLabel {
  font-weight: 500;
  line-height: 1;
}

.dropdown {
  min-width: 76px;
}

.menuItem {
  font-size: var(--mantine-font-size-sm);
  padding: 6px 12px;
}

.menuItem[data-active] {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}
