.settings-preset-fields {
  display: flex;
  gap: 12px;
  height: 100%;

  .settings-preset-mixed-select {
    height: 100%;
  }

  .settings-preset-name {
    height: 46px;
    width: 350px;

    .MuiOutlinedInput-root {
      height: 46px;
      line-height: normal;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .settings-preset-dropdown {
    position: relative;
    left: -1px;
    height: 100%;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &:not(:hover) {
      border-color: rgba(255, 255, 255, 0.23);
      border-left-color: transparent;
    }
  }
}

.settings-preset-menu {
  &-item {
    min-width: 200px;
    height: 100%;
  }

  &-close {

  }
}
