@import "src/styles/colors";

.wheel-preview-item {
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 8px 8px 16px;
  background-color: $grey-10;
  gap: 14px;
  color: white;
  position: relative;
  overflow: hidden;
  height: 40px;
  flex-shrink: 0;
  flex-wrap: nowrap;

  & > * {
    flex-shrink: 0;
  }

  &:nth-of-type(2n) {
    background-color: $grey-9;
  }

  &.disabled {
    background-color: $grey-12;
    color: $grey-6;
    text-decoration: line-through;
  }

  .find-icon {
    position: relative;
    z-index: 10;
    left: 2px;
    color: white;
    transform: scale(-1, 1);
  }

  .MuiDivider-root {
    border-color: rgba(white, 0.25);
  }

  .color {
    height: 24px;
    width: 32px;
    border-radius: 6px;

    &>div {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      display: block;

      background: linear-gradient(
                      90deg,
                      color-mix(in srgb, currentColor 0%, transparent) 0%,
                      color-mix(in srgb, currentColor 0%, transparent) 60%,
                      color-mix(in srgb, currentColor 15%, transparent) 85%,
                      color-mix(in srgb, currentColor 40%, transparent) 90%,
                      currentColor 97%,
                      currentColor 100%
      );
    }
  }

  .name {
    flex-grow: 1;
    flex-shrink: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .amount {
    text-align: end;
  }

  .chance {
    width: 61px;
    text-align: end;
  }
}
