.item {
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 8px 8px 16px;
  background-color: var(--wheel-item-grey10, #424242);
  gap: 14px;
  color: white;
  position: relative;
  overflow: hidden;
  height: 40px;
  flex-shrink: 0;
  flex-wrap: nowrap;
}

.item > * {
  flex-shrink: 0;
}

.item:nth-of-type(2n) {
  background-color: var(--wheel-item-grey9, #505050);
}

.disabled {
  background-color: var(--wheel-item-grey12, #303030);
  color: #808080;
  text-decoration: line-through;
}

.findIcon {
  position: relative;
  z-index: 10;
  left: 2px;
  color: white;
  transform: scale(-1, 1);
}

.color {
  height: 24px;
  width: 32px;
  border-radius: 6px;
}

.color > div {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: linear-gradient(
    90deg,
    color-mix(in srgb, currentColor 0%, transparent) 0%,
    color-mix(in srgb, currentColor 0%, transparent) 60%,
    color-mix(in srgb, currentColor 15%, transparent) 85%,
    color-mix(in srgb, currentColor 40%, transparent) 90%,
    currentColor 97%,
    currentColor 100%
  );
}

.name {
  flex-grow: 1;
  flex-shrink: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.amount {
  text-align: end;
}

.chance {
  width: 61px;
  text-align: end;
}
