@import "../../styles/colors";

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  border-width: 3px;
}

::-webkit-scrollbar-thumb {
  border-width: 3px;
}

::-webkit-scrollbar-thumb:hover {
  border-width: 3px;
}

.arena-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh;

  .side-ui-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 20px;

    transition: all .2s ease-in;
    left: 0;

    .arrow-back path {
      transform: translate(4px, 0px);
    }

    .side-ui-collapse-btn {
      border: 2px solid #fff;
    }

    .side-ui-content {
      height: 100%;
      width: 350px;
      border: 2px solid $grey-5;
      background-color: rgba(#000, .5);
      overflow: auto;
      //noinspection CssInvalidPropertyValue
      overflow-y: overlay;
    }

    &.left {
      margin-right: 0;

      .side-ui-content {
        margin-right: 15px;
      }

      &.closed {
        left: -374px;
      }
    }

    &.right {
      margin-left: 0;
      flex-direction: row-reverse;

      .side-ui-content {
        margin-left: 15px;
      }

      &.closed {
        left: 374px;
      }
    }
  }

  .arena-chart-item {
    display: flex;
    padding:4px 6px;
    cursor: pointer;

    &-name {
      width: 40%;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      flex-grow: 1;
      padding: 3px 8px;
      border: 2px dashed transparent;
      border-radius: 5px;
    }

    .MuiLinearProgress-root {
      flex-grow: 1;
      height: 10px;
    }

    &:hover {
      background-color: rgba($grey-1, .5);
    }

    &.candidate {
      background-color: rgba($yellow, .4);

      &:hover {
        background-color: rgba($yellow, .7);
      }
    }

    &.selected {
      .arena-chart-item-wrapper {
        border-color: $grey-4;
      }

      &:hover {
        .arena-chart-item-wrapper {
          border-color: $grey-1;
        }
      }
    }
  }

  .game-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .arena-controls {
    position: relative;
    z-index: 10;
    align-self: end;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;

    .speed-controls {
      display: flex;
      align-items: center;

      p {
        font-size: 1.25em;
        margin-right: 10px;
      }
    }

    .start-battle-btn {
      margin-bottom: 25px;
      font-size: 4em;
      padding: 0 50px;
      border: 4px solid $grey-1;
      background-color: $red-3;

      &:hover {
        background-color: $red-6;
      }
    }
  }

  .glads-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .glad-preview-list {
      display: flex;
      gap: 16px;
      flex-wrap: wrap;
      padding: 16px;

      .glad-preview {
        display: flex;
        flex-direction: column;
        width: 147px;
        //flex-basis: calc(50% - 8px - 4px);
        align-self: center;
        justify-content: center;

        border: 2px solid $grey-5;
        border-radius: 5px;
        background-color: $grey-8;

        &-portrait {
          height: 110px;
          width: auto;
          //font-size: 147px;
          color: $grey-1;
        }

        .glad-preview-stat-list {
          display: flex;
          flex-wrap: wrap;

          .glad-preview-name {
            flex-basis: 100%;
            border-top: 1px solid $grey-6;
            background-color: $grey-11;
            text-align: center;
          }

          .glad-preview-stat {
            flex-basis: calc(50% - 6.5px);
            background-color: $grey-11;
            border-top: 1px solid $grey-6;
            padding: 2px 0;
            font-size: 0.9em;
            text-align: center;
            flex-grow: 1;

            &:nth-child(2n) {
              border-right: 1px solid $grey-6;
            }
          }
        }
      }
    }
  }
}