.input {
  background-color: transparent;
  border-color: var(--mantine-color-dark-2);
  width: 180px;
}

.section {
  color: var(--mantine-color-dark-0);
}

:global(.custom-background) .input {
  background-color: var(--mantine-color-darkOpaque-7);
}
