.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* gap: 4px; */
  position: relative;
  flex-wrap: nowrap;

  &.optimize,
  :global(.compact-view) {
    flex-direction: row;
    flex: 1 1 auto;
  }
}
