.slotWrapper {
  --slot-background-color: var(--mantine-color-dark-6);
}

.slotWrapper:nth-child(even) {
  --slot-background-color: color-mix(in srgb, var(--mantine-color-dark-6) 50%, var(--mantine-color-dark-5) 50%);
}

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
  position: relative;
  flex-wrap: nowrap;

  &.optimize,
  :global(.compact-view) {
    flex-direction: row;
    flex: 1 1 auto;
  }
}
