.root {
  display: flex;
  flex-direction: column;
  background-color: var(--mantine-color-dark-7);
  border-radius: var(--mantine-radius-md);
  margin-bottom: var(--mantine-spacing-md);
  padding: var(--mantine-spacing-md);
}

.root:last-child {
  margin: 0;
}

.nameInput {
  width: 250px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  margin-top: var(--mantine-spacing-md);
}

.saveActions {
  display: flex;
  gap: var(--mantine-spacing-sm);
}
