.wheel-content {
  position: relative;
}

.wheel-core {
  background-color: transparent;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 100%;
  border: 3px solid #eee;

  width: 20%;
  height: 20%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.wheel-winner {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.wheel-target {
  width: 100%;
}