.author-contacts {
  padding: 16px;

  text-overflow: ellipsis;
  flex-wrap: nowrap;

  h6 {
    font-size: 1.15em;
  }

  a {
    color: #8acaff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .contact {
    margin-left: 24px;
  }
}

.boosty-icon {
  font-size: 28px;

  path {
    fill: #ff9b7a;
  }
}
