.wrapper {
  padding: 16px;

  text-overflow: ellipsis;
  flex-wrap: nowrap;
}

.boostyIcon {
  overflow: visible;
  width: 28px;
  height: 28px;

  path {
    fill: #ff9b7a;
  }
}

.contact {
  margin-left: 24px;
}

.text {
  transition: opacity 0.2s;
  white-space: nowrap;
}

.icon {
  position: relative;
  left: 0 !important;
  transition: all 0.2s !important;
}

.compact {
  .text {
    opacity: 0;
  }

  .icon {
    left: -24px !important;
    scale: 1.3;
  }
}
