.pageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-sizing: border-box;
  max-height: 100dvh;

  &.fixedHeight {
    max-height: 100dvh;
  }

  &.padding {
    padding: var(--mantine-spacing-md) var(--mantine-spacing-md) 0 var(--mantine-spacing-md);

    @media (min-width: 48em) {
      padding: 1.25rem 3em 0 3em;
    }
  }
}

.pageContainerContent {
  min-height: 0;
  overflow-y: auto;

  display: flex;
  align-items: stretch;
  flex-grow: 1;

  &.padding {
    padding-bottom: 1em;
  }
}
