.pageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;
  max-height: 100dvh;

  padding: 2rem 3em 0 3em;
}

.pageContainerContent {
  min-height: 0;
  overflow-y: auto;
  padding-bottom: 1em;

  display: flex;
  align-items: stretch;
  flex-grow: 1;
}
