.overlayRulesContainer {
  width: 100%;
  height: 100%;

  :global(.rich-editor-tiptap) {
    border: none;

    > div {
      background-color: var(--mantine-color-darkTransparent-8);
      border-radius: var(--mantine-radius-md);
    }
  }
}
