.integration-switch {
  display: flex;

  &.MuiFormControlLabel-root {
    align-items: center !important;
    margin: 0;
  }

  .MuiFormControlLabel-label {
    display: flex;
    line-height: unset;
  }
}