.h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.h2 {
  font-size: 1.25rem;
  font-weight: 600;
}

.h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

.paragraph {
  font-size: 1rem;
  font-weight: 400;
}

.dropdown [data-active] {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}
