.options {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 25px;
  margin-right: 50px;

  &-menu {
    position: absolute;
    right: 35px;
    bottom: 90px;
    padding: 20px;
  }

  &-button {
    margin-right: 10px !important;
  }
}