.totalSumWrapper {
  position: absolute;
  z-index: 1000;
  left: 5.75rem;
  bottom: 0.25em;
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-xs);
}

.hideSum {
  padding: 7px;
  color: var(--mantine-color-dark-3);
}

.hideSum:hover {
  color: var(--mantine-color-dark-1);
}
