.totalSumWrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-xs);
}

.hideSum {
  padding: 7px;
  color: var(--mantine-color-dark-3);
}

.hideSum:hover {
  color: var(--mantine-color-dark-1);
}
