.videoPreviewCard {
  transition: transform 0.2s ease-in-out;
}

.videoPreviewCard.clickable:hover {
  transform: translateY(-2px);
}

.videoPreviewCard:hover .videoThumbnail {
  filter: blur(0);
}

.thumbnailContainer {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.videoThumbnail {
  transition: filter 0.3s ease-in-out;
  object-fit: cover;
}

.videoThumbnail.blurred {
  filter: blur(3px);
}

.videoPreviewIcon {
  color: var(--mantine-color-dark-2);
}
