.app {
  display: flex;
  min-height: 100vh;
  max-width: 100vw;

  a {
    color: var(--color-primary);
  }

  &-drawer {
    .author-contacts {
      h6, a {
        opacity: 0;
        transition: opacity 0.2s;
      }

      .icon {
        position: relative;
        left: -24px;
        scale: 1.3;

        transition: left 0.2s, scale 0.2s;
      }
    }

    &.open {
      width: 240px;

      .nav-text {
        opacity: 1;
      }

      .author-contacts {
        h6, a {
          opacity: 1;
        }

        .icon {
          left: 0;
          scale: 1;
        }
      }
    }

    &.close {
      width: 60px;
    }
  }

  &-content {
    flex-grow: 1;
    width: 100%;
    max-width: unset;
    padding: 0;
  }

  .nav {
    &-icon {
      min-width: 42px;

      svg {
        width: 26px !important;
        height: 26px !important;
        //fill: #fff;
      }
    }

    &-text {
      opacity: 0;
      transition: opacity 0.2s;
    }
  }
}