/* Configure CSS layers for Tailwind and Mantine */
@layer theme, base, mantine, components, utilities;

/* Import Tailwind CSS */
@import 'tailwindcss';

/* Import Mantine styles in the mantine layer */
@import '@mantine/core/styles.layer.css';

ol,
ul,
menu {
  list-style: disc;
}
