.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9997;
  pointer-events: auto;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

