.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--mantine-spacing-lg);
  flex-wrap: wrap;
}

.options {
  position: absolute;
  right: 0;
  bottom: 0;
}

.dialogContent {
  border-bottom: 0;
}
