.flexibleContainer {
  /* width: 100%; */
  position: relative;
  flex-basis: auto;
  flex-shrink: 1;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  overflow: visible;
  /* overflow: hidden; */

  /* min-width: 16rem; */
}

.wheelStaticContainer {
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
