@import "../../styles/colors";

.purchase {
  margin-bottom: 10px;
  cursor: pointer;
  width: 304px;
  border: 3px solid transparent;

  &.dragging {
    border: 3px dashed $grey-4;
    background-color: transparent;

    .purchase-content {
      opacity: 0;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-remove-button {
      padding: 10px !important;
    }
  }
}

.drag-placeholder {
  position: relative;
  z-index: 10;
  height: 50px;
  border: 2px dashed $grey-4;
  margin-bottom: 6px;
}