@import "../../styles/colors";

.drag-layer .purchase {
  width: 304px;
}

.purchase {
  margin-bottom: 10px;
  cursor: pointer;
  border: 3px solid transparent;

  &.drag-placeholder {
    border: 3px dashed $grey-4;
    background-color: transparent;

    .purchase-content {
      opacity: 0;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-remove-button {
      padding: 10px !important;
    }
  }
}